* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    //background-image: url(/assets/images/font/fondSteel2.png);
    //background-image: url(/assets/images/font/fondSteel.jpg);
    //background-image: url(/assets/images/font/fondSteel3.jpg);
}

header {
    width: 100%;
    height: auto;
    background: grey;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
header figure img {
    width: 300px;
    height: auto;
}
header figure {
    margin: 0;
}
header figure figcaption {
    display: none;
}
header h1 {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}
header div {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
main section.HomePage {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    background: lightgrey;
}
main section.HomePage article p {
    width: 50%;
    height: auto;
}
footer {
    width: 100%;
    height: auto;
    background: grey;
    display: flex;
    position: relative;
    bottom: 0;
    border-top: 1px solid black;
}
footer section:first-child, footer section:last-child {
    margin-top: 20px;
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
footer section:first-child a {
    width: 50%;
    height: auto;
    display: block;
    /*	position: relative;
        top: 0;
        transform-style: preserve-3d;
        transition: 2s;*/
}
footer section:first-child a:hover {
    text-decoration: none;
    font-size: 1.3em;
}
footer section:first-child a figure, figcaption {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
}
@media screen and (max-width: 900px)  {
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header div {
        border: 1px solid black;
    }

}