* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    //background-image: url(/assets/images/font/fondSteel2.png);
    //background-image: url(/assets/images/font/fondSteel.jpg);
    //background-image: url(/assets/images/font/fondSteel3.jpg);
}
header {
    width: 100%;
    height: auto;
    background: grey;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
header figure img {
    width: 300px;
    height: auto;
}
header figure {
    margin: 0;
}
header figure figcaption {
    display: none;
}
header h1 {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}
header div {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
main {
    width: 95%;
    margin: auto;
    box-shadow: 5px 5px 20px;
}
main section {
    margin: 35px 0;
    width: 100%;
    height: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background: lightgray;
    padding: 10px 0 0 0;
}
main section h2 {
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive, Arial, SansSerif, "Times New Roman";
}
main section article {
    padding: 10px 50px;
}
main section article p {
    font-family: 'Cantarell', Arial, SansSerif, "Times New Roman", cursive;
}

main section#listeService {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main section#listeService article {
    padding: 0;
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}
main section#listeService article figure {
    width: 300px;
    height: auto;
    min-width: 300px;
}
main section#listeService article figure img {
    width: 100%;
    height: auto;
    min-width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main section#listeService article figure figcaption {
    display: none;
}
main section#listeService article h5 {
    text-align: center;
}
main section#listeService article p {
    padding: 5px 10px;
}
main section#listeService article a {
    display: block;
    cursor: pointer;
    width: 75px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid;
    border-radius: .25em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
}
main section#listeService article a:first-child {
    color: limegreen;
    border: 1px solid limegreen;
}
main section#listeService article a:first-child:hover {
    background: limegreen;
    color: white;
}

main section#listeService article a:nth-child(2) {
    color: orange;
    border: 1px solid orange;
}
main section#listeService article a:nth-child(2):hover {
    background: orange;
    color: white;
}

main section#listeService footer {
    position: relative;
    bottom: 0;
    padding: 5px 10px;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer {
    width: 100%;
    height: auto;
    background: grey;
    display: flex;
    position: relative;
    bottom: 0;
    border-top: 1px solid black;
}
footer section:first-child, footer section:last-child {
    margin-top: 20px;
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cantarell', Arial, SansSerif, "Times New Roman", cursive;
}
footer section:first-child a {
    width: 50%;
    height: auto;
    display: block;
}
footer section:first-child a:hover {
    text-decoration: none;
    font-size: 1.3em;
}
footer section:first-child a figure, figcaption {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
}
@media screen and (max-width: 900px)  {
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header div {
        border: 1px solid black;
    }
}