* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body {
    background-image: url(/assets/images/font/fondSteel2.png);
    background-image: url(/assets/images/font/fondSteel.jpg);
    background-image: url(/assets/images/font/fondSteel3.jpg);
}*/
hr
{
    width: 90%;
    margin: auto;
}
header {
    width: 100%;
    height: auto;
    background: grey;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
header figure img {
    width: 300px;
    height: auto;
}
header figure {
    margin: 0;
}
header figure figcaption {
    display: none;
}
header h1 {
    border: 1px solid black;
    padding: 10px;
    margin: auto;
}
header div {
    width: 150px;
    height: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid black;
    color: black;
}
main {
    width: 95%;
    margin:  0 auto 50px;
    box-shadow: 5px 5px 20px;
    background: lightgray;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
main section {
    margin: 35px 0;
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
}
main section:nth-child(3)
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main section:nth-child(3) article
{
    width: 50%;
    height: auto;
    display: block;
}
main section:nth-child(3) article:nth-child(2)
{
    padding: 10px;
    text-align: center;
}
main section:nth-child(3) article:first-child iframe
{
    widows: 100%;
    max-width: 100%;
    min-width: 500px;
}
main section.parallaxe
{
    min-height: 300px;
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/pour_le_site/carTest.jpg');
}
main section:nth-child(8)
{
    width: 100%;
    height: 200vh;
    
}

main section h2 {
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive, Arial, SansSerif, "Times New Roman";
}
main section article {
    padding: 10px 50px;
}
main section article p {
    font-family: 'Cantarell', Arial, SansSerif, "Times New Roman", cursive;
}

main section#listeService {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
main section#listeService article {
    padding: 0;
    background: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 300px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
}
main section#listeService article figure {
    width: 300px;
    height: auto;
    min-width: 300px;
}
main section#listeService article figure img {
    width: 100%;
    height: auto;
    min-width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main section#listeService article figure figcaption {
    display: none;
}
main section#listeService article h5 {
    text-align: center;
}
main section#listeService article p {
    padding: 5px 10px;
}
main section#listeService article a {
    display: block;
    cursor: pointer;
    width: 75px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid;
    border-radius: .25em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
}
main section#listeService article a:first-child {
    color: limegreen;
    border: 1px solid limegreen;
}
main section#listeService article a:first-child:hover {
    background: limegreen;
    color: white;
}

main section#listeService article a:nth-child(2) {
    color: orange;
    border: 1px solid orange;
}
main section#listeService article a:nth-child(2):hover {
    background: orange;
    color: white;
}

main section#listeService footer {
    position: relative;
    bottom: 0;
    padding: 5px 10px;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
main section#register, main section#register form {
    display: flex;
    flex-direction: column;
}
main section#register h1 {
    text-align: center;
}
main section#register form {
    background: blue;
}
main section#register form input:first-child, main section#register form input:nth-child(2) {
    width: 10px;
}
main section#register form input {
    width: 300px;
}

form.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, SansSerif, "Times New Roman", cursive;
}
div#registration_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#registration_form div {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
div#registration_form div:last-child {
    display: none;
}
div#registration_form div div#registration_form_falseRoles input#registration_form_falseRoles_0,
div#registration_form div div#registration_form_falseRoles input#registration_form_falseRoles_1 {
    width: 20px;
    line-height: 50px;
}
div#registration_form div input{
    border-radius: .25em;
    border: 1px solid black;
    width: 300px;
}
div#registration_form div input:hover {
    border: 2px solid rgb(60, 138, 255);
}
form.register input.registration {  
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid rgb(60, 138, 255);
    color: rgb(60, 138, 255);
    border-radius: .25em;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
}
form.register input.registration:hover {
    background: rgb(60, 138, 255);
    color: white;
}

footer {
    width: 100%;
    height: auto;
    background: grey;
    display: flex;
    position: relative;
    bottom: 0;
    border-top: 1px solid black;
}
footer section:first-child, footer section:last-child {
    margin-top: 20px;
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Cantarell', Arial, SansSerif, "Times New Roman", cursive;
}
footer section:first-child a {
    width: 50%;
    height: auto;
    display: block;
}
footer section:first-child a:hover {
    text-decoration: none;
    font-size: 1.3em;
}
footer section:first-child a figure, figcaption {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
}
@media screen and (max-width: 900px)  {
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header div {
        border: none;
    }
    header div {
        height: 50px;
    }
}