{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
        <section>
            <h2>Bonjour et bienvenue sur notre site associatif de garagiste indépendant</h2>
            <article>
                <h3>Tout sur nous</h3>
                <p>
                    Lorem ipsum dolor sit ameconsectetur adipisicing elit. Accusantium beatae consectetur
                    cum deleniti deserunt ducimus eos harum id illo illum iure, nesciunt omnis quia repellendus sint,
                    tempore tenetur ut voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus architecto aspernatur at autem consectetur corporis cupiditate earum eius
                    exercitationem, expedita illum ipsa iste perspiciatis possimus quasi repellendus tenetur
                    veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at consequatur,
                    cumque delectus deserunt doloremque ea earum eius eligendi explicabo incidunt iste laudantium
                    magnam minima nihil quaerat repellat velit voluptas?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Assumenda cumque debitis hic id quasi! Amet architecto beatae eos excepturi
                    exercitationem, fugiat fugit itaque magni nisi quos reiciendis sed, vel voluptates.
                </p>
            </article>
        </section>

        <hr>

        <section>
            <article>
               <iframe width="560" height="315" src="https://www.youtube.com/embed/K7aG4ARfaAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
            <article>
                <p>
                Lorem ipsum dolor sit ameconsectetur adipisicing elit. Accusantium beatae consectetur
                    cum deleniti deserunt ducimus eos harum id illo illum iure, nesciunt omnis quia repellendus sint,
                    tempore tenetur ut voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus architecto aspernatur at autem consectetur corporis cupiditate earum eius
                    exercitationem, expedita illum ipsa iste perspiciatis possimus quasi repellendus tenetur
                    veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit,  consectetur adipisicing elit. Accusantium at consequatur,
                    cumque delectus deserunt doloremque ea earum eius eligendi explicabo incidunt iste laudantium
                    magnam minima nihil quaerat repellat velit voluptas?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Assumenda cumque debitis hic id quasi! Amet architecto beatae eos excepturi
                    exercitationem, fugiat fugit itaque magni nisi quos reiciendis sed, vel voluptates.
                    </p>
            </article>
        </section>

        <hr>

        <section class="parallaxe"> 
            <!-- _______________________PARALLAXE___________________________ -->
        </section>
        <hr>
        <section>
            <article>
                <p>
                Lorem ipsum dolor sit ameconsectetur adipisicing elit. Accusantium beatae consectetur
                    cum deleniti deserunt ducimus eos harum id illo illum iure, nesciunt omnis quia repellendus sint,
                    tempore tenetur ut voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus architecto aspernatur at autem consectetur corporis cupiditate earum eius
                    exercitationem, expedita illum ipsa iste perspiciatis possimus quasi repellendus tenetur
                    veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit,  consectetur adipisicing elit. Accusantium at consequatur,
                    cumque delectus deserunt doloremque ea earum eius eligendi explicabo incidunt iste laudantium
                    magnam minima nihil quaerat repellat velit voluptas?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Assumenda cumque debitis hic id quasi! Amet architecto beatae eos excepturi
                    exercitationem, fugiat fugit itaque magni nisi quos reiciendis sed, vel voluptates.
                    Lorem ipsum dolor sit ameconsectetur adipisicing elit. Accusantium beatae consectetur
                    cum deleniti deserunt ducimus eos harum id illo illum iure, nesciunt omnis quia repellendus sint,
                    tempore tenetur ut voluptas?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusamus architecto aspernatur at autem consectetur corporis cupiditate earum eius
                    exercitationem, expedita illum ipsa iste perspiciatis possimus quasi repellendus tenetur
                    veniam Lorem ipsum dolor sit amet, consectetur adipisicing elit,  consectetur adipisicing elit. Accusantium at consequatur,
                    cumque delectus deserunt doloremque ea earum eius eligendi explicabo incidunt iste laudantium
                    magnam minima nihil quaerat repellat velit voluptas?Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Assumenda cumque debitis hic id quasi! Amet architecto beatae eos excepturi
                    exercitationem, fugiat fugit itaque magni nisi quos reiciendis sed, vel voluptates.
                    </p>
            </article>
        </section>

        <section>
            <p>
                salut
            </p>
        </section>
        <hr>
{% endblock %}
